

.btn-start-search {
	color:#fff;
	border:2px solid #fff;
}

.btn-start-search:hover {
	color:#000;
	background-color:#fff;
}

.cGray {
	color:#777;
}

.bgWhite {
	background:#ffffff;
}

.align-top {
	vertical-align: text-top;
}

.country {
	position:relative;
}

.country p {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top:-65px;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-size: 250%;
}

.country:hover {
	opacity:0.8;
}

p.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panelArchive {
	padding: 0 18px;
    display: none;
    background-color: white;
}

.give a {
	text-decoration:underline;
	color:#777;
}

.give a:hover {
	text-decoration:none;
}

.about {
	font-size:10px;
}

.about a {
	text-decoration:underline;
	color:#fff;
}

.about a:hover {
	text-decoration:none;
}



/*Scroll*/
.scroll {
	overflow:scroll;
	height:180px;
}
/*Scroll*/



/*Calendar*/
/*
*{margin:0;padding:0;}


#calendar{
  width:100%;
  margin:0 auto;
  margin-top:2%;
  margin-bottom:2%;
  border-radius:5px;
  text-align:center;
  color:#555;
  box-shadow:0 0 40px -10px rgba(0,0,0,.8);
}

#calendar h1{
  background:#2a3744;
  border-radius:5px 5px 0 0;
  padding:20px;
  font-size:140%;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#fff;
  cursor:default;
  text-shadow:0 0 10px rgba(0,0,0,.8);
}

#calendar table{
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-spacing:0;
  border-radius:0 0 5px 5px;
}

#calendar td{
  width:101px;
  height:65px;
  background:#eee;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:6px;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#calendar td:hover:not(.current) {
  background:#ddd;
}

#calendar .lastmonth,#calendar .nextmonth,#calendar .nextmonth ~ *{
  background:#fff;
  color:#777;
}

#calendar .current{
  background:#2a3744;
  font-weight:700;
  color:#fff;
  text-shadow:0 0 10px rgba(0,0,0,.5);
}

#calendar .hastask{
  font-weight:bold;
  background:#91BEE7;
}

#calendar .red{
	color:#FF0004;
}

#calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
#calendar tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}

.event{
    position: relative;
}

.event .eventtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    
    position: absolute;
    z-index: 1;
	margin:40px -65px;
}

.event:hover .eventtext {
    visibility: visible;
}
*/
/*Calendar*/




/*Popup*/
.box {
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index:1;
}

.popup {
  margin: 250px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup .close {
  position: absolute;
  top:0px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*Popup*/

/*Admin*/
.btn-admin {
	padding:5px;
	border-radius:3px;
}

.form-admin {
	overflow:scroll;
	height:400px;
}

/*Admin*/

/*Dropdown Form*/
.dropdown-form{
  border: 1px solid #ccc;
  display:none;
  padding: 7px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.display-block{
  display:block;
}
/*Dropdown Form*/

.panel-heading-sm {
	padding: 7px 0px;
	background:#f5f5f5;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.btn-submit-image {
	background:#777;
	color:#fff;
}

.btn-submit-image:hover {
	background:#646464;
}

.search {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 12px;
    height: 39px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width:100%;
}

.search-icon {
    position: relative;
}

.search-icon button {
	font-size: 16px;
    right: 6px;
    line-height: 22px;
    position: absolute;
    top: 9px;
	border:none;
	padding:0;
	background:none;
}

.search-univ {
	background-color:#fff;
	border:1px solid #777;
}

.search-univ:hover {
	background-color:#777;
	color:#fff;
}

.univ-list {
	border:1px solid #C5C5C5;
	border-radius:4px;
	height:380px;
	margin:26px;
	background-color:#fff;
}

.univ-list:hover {
	border:1px solid #2E2E2E;
	cursor:pointer
}

.univ-logo {
	height:100px;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	margin:15px;
}

@media (max-width: 991px) {
	
.univ-list {
	border:1px solid #C5C5C5;
	border-radius:4px;
	height:380px;
	margin:18px;
}
}

#facility ul, #requirement ul, #fact ul, #major ul, #achievement ul {
	list-style-type:disc;
	padding-left:20px;
}


/*Calendar*/
.icon-chevron {
  display:block;
  width:15px;
  height:22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAWCAMAAAAo0TYrAAAAElBMVEX///8AAAAAAAAAAAAAAAAAAABknMCaAAAABXRSTlMAEHCg0O5XV0MAAAAzSURBVHgBYwACJkYGZMDMysKIwmUFCyC4KAIsrKgCjPQQQPCpzUX4B9O/mOGBGV7o4QkA5zcCv3HiEZgAAAAASUVORK5CYII=);
}
.icon-chevron-rotate {
  transform: rotate(180deg);
}
.page {
  width: 500px;
  margin: 0 auto;
  padding: 1em;
}
.responsive-calendar-placeholder {}
.responsive-calendar-modal {
  background-color: #1d86c8;
  color: white;
  padding: 1em;
}
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
  color: red;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
/*Calendar*/


.text-overflow {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:pre-line;
}

.title-overflow {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}


	
	
	
	
	
	
	
	

/*
* {
  box-sizing: border-box;
}

#tabs li{
    display: inline-block;
  }
  .tab {
    color: #999;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    background: #efefef;
    border: 1px transparent solid;
  }
    .tab:active {
      color: #333;
      border: 1px #333 solid;
      border-bottom: none;
      top: 2px;
    }
    .tab i {
      font-size: 20px;
      margin: 0 10px;
    }
	
[id$="tab-content"] {
  border: 1px #333 solid;
  padding: 20px;
}
input {
    font-family: 'Source Sans Pro', sans-serif;
    weight: 300;
}

button,
input[type="submit"] {
  cursor: pointer;
}
#to-do-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
  #to-do-wrapper input {
    margin: 0;
  }
  #to-do-wrapper form {
    margin-bottom: 20px;
  }
  #add-task {
    background: transparent;
    border: none;
    border-bottom: 1px #999 solid;
    padding: 5px;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
  }
  #add-btn {
    width: 10%;
    background: transparent;
    border: 1px #999 solid;
    height: 36px;
  }


.priorities {
  position: relative;
  width: 20%;
  float: right;
  text-align: center;
}
  .priorities button {
    width: 20px;
    height: 20px;
    border: 3px #333 solid;
  }
  .priorities-list {
    position: absolute;
    top: 100%;
    display: none;
  }
  .priority {
    display: inline-block;
  }


.low { background: #fc0 !important }
.medium { background: #f93 !important }
.high { background: #f30 !important }


  #to-do-list li {
    width: 100%;
    background: #adadad;
    padding: 10px 20px;
    margin: 1px 0;
    overflow: hidden;
  }
  #done-list li {
    width: 100%;
    background: #adadad;
    padding: 10px 20px;
    margin: 1px 0;
    overflow: hidden;
  }
  button {
    border: 1px #000 solid;
    background: none;
    float: right;
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }
  .added-time {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 0;
  }
*/

.box-shadow {
	box-shadow: 2px 2px 10px #777;
}

.blog-grid {
	height:480px;
}

.blog-tag {
	border:1px solid;
	border-radius:4px;
}

@media (max-width: 767px) {

.blog-grid {
	height:530px;
}

}

@media (max-width: 580px) {

.blog-grid {
	height:620px;
}

}

@media (max-width: 450px) {

.blog-grid {
	height:520px;
}
}

@media (max-width: 350px) {

.blog-grid {
	height:450px;
}

}

.blog-category {
	height:100px;
	border:2px solid;
	border-radius:5px;
	font-size: 170%;
	padding:36px;
}



.buttontip {
    position: relative;
    display: inline-block;
}

.buttontip .buttontiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}

.buttontip:hover .buttontiptext {
    visibility: visible;
}

.bookmark {
	position:absolute;
	right:46px;
	top:10px;
}

.bookmark-active {
	color:#E88080;
	position:absolute;
	right:46px;
	top:10px;
}

.bookmark-active:hover {
	color:#E88080;
}






.absolute {position:absolute;}
.colorRed {color:#FF0004;}
.flleft{float:left;}
.flright {float:right;}
.text-bold {font-weight:bold;}
.p3 {padding:3px;}
.p11 {padding:11px;}
.pl0 {padding-left:0px;}
.pl10 {padding-left:10px;}
.pt7 {padding-top:7px;}
.pt10 {padding-top:10px;}
.pt50 {padding-top:50px;}
.mr10 {margin-right:10px;}
.mt50 {margin-top:50px;}
.mb20 {margin-bottom:20px;}
.mb50 {margin-bottom:50px;}
.mb85 {margin-bottom:85px;}